<section id="create-magic" class="create-magic-section">
  <div class="container create-magic-container">
    <h2 class="title create-magic-title">Ready to Create Magic?</h2>
    <p class="text create-magic-text">
      Rebuild the island, discoverits secrets, and awaken your inner magician.
      The adventure awaits—are you ready to weave wonders?
    </p>
    <div class="create-magic-wrap-btn">
      <a
        href="https://play.google.com/store/apps/details?id=com.fotoable.mergetown"
        class="google-play-link"
        target="_blank"
        ><img
          class="google-play-img"
          src="/images/create-magic/google-play.webp"
          alt="google play"
        />
        <p class="link-text">Download on <span>Google Play</span></p></a
      >
    </div>
    <picture>
      <source
        srcset="/images/create-magic/cloud-rait-1200.webp"
        media="(min-width: 1200px)"
      />
      <img
        src="/images/create-magic/cloud-mob.webp"
        alt="cloud"
        class="create-magic-img-1"
      />
    </picture>
    <picture>
      <source
        srcset="/images/create-magic/cloud-rait-1200.webp"
        media="(min-width: 1200px)"
      />
      <img
        src="/images/create-magic/cloud-mob.webp"
        alt="cloud"
        class="create-magic-img-2"
      />
    </picture>
    <img
      class="cloud-big"
      src="/images/create-magic/cloud-left-top-big.webp"
      alt="cloud"
    />
    <img
      class="cloud-small"
      src="/images/create-magic/cloud-left-small.webp"
      alt="cloud"
    />
    <img
      class="cloud-girl"
      src="/images/create-magic/cloud-left-bottom.webp"
      alt="cloud"
    />
    <img class="girl-magic" src="/images/create-magic/girl.webp" alt="girl" />
  </div>
</section>
