<section id="features" class="features-section">
  <div class="container">
    <h2 class="features-title">Features and Benefits</h2>
    <div class="features-card-wrap-one">
      <div class="features-card">
        <picture>
          <source
            srcset="./images/features/image-1-1200.webp"
            media="(min-width: 1200px)"
          />
          <img
            src="./images/features/image-1.webp"
            alt="scrinshot game"
            class="features-card-img"
          />
        </picture>
        <p class="features-card-text">
          Creative Gameplay: Merge items to discover magical artifacts, unlock
          areas, and create your dream island.
        </p>
      </div>
      <div class="features-card">
        <picture>
          <source
            srcset="./images/features/image-2-1200.webp"
            media="(min-width: 1200px)"
          />
          <img
            src="./images/features/image-2.webp"
            alt="scrinshot game"
            class="features-card-img"
          />
        </picture>
        <p class="features-card-text">
          Captivating Storyline: Follow an enchanting tale as you progress and
          unravel the secrets of the island.
        </p>
      </div>
    </div>
    <div class="features-card-wrap-two">
      <div class="features-card">
        <picture>
          <source
            srcset="./images/features/image-3-1200.webp"
            media="(min-width: 1200px)"
          />
          <img
            src="./images/features/image-3.webp"
            alt="scrinshot game"
            class="features-card-img"
          />
        </picture>
        <p class="features-card-text">
          Customization Galore: Personalize every corner of your island to match
          your magical vision.
        </p>
      </div>
      <div class="features-card">
        <picture>
          <source
            srcset="./images/features/image-4-1200.webp"
            media="(min-width: 1200px)"
          />
          <img
            src="./images/features/image-4.webp"
            alt="scrinshot game"
            class="features-card-img"
          />
        </picture>
        <p class="features-card-text">
          Daily Surprises: Explore hidden treasures and enjoy daily challenges
          for exciting reward
        </p>
      </div>
      <div class="features-card">
        <picture>
          <source
            srcset="./images/features/image-5-1200.webp"
            alt="scrinshot game"
            media="(min-width: 1200px)"
          />
          <img
            src="/images/features/image-5.webp"
            alt="scrinshot game"
            class="features-card-img"
          />
        </picture>
        <p class="features-card-text">
          Perfect for All Ages: A family-friendly adventure that offers fun and
          excitement for players of
        </p>
      </div>
    </div>
  </div>
</section>
