<section id="gallery" class="gallery-section">
  <div class="container">
    <h2 class="gallery-title">Gallery</h2>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="/images/gallery/gallery-1-1200.webp"
              media="(min-width: 1200px)"
            />
            <img
              src="/images/gallery/gallery-1.webp"
              alt="slide 1"
              class="swiper-slide-img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="/images/gallery/gallery-2-1200.webp"
              media="(min-width: 1200px)"
            />
            <img
              src="/images/gallery/gallery-2.webp"
              alt="slide 2"
              class="swiper-slide-img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="/images/gallery/gallery-3-1200.webp"
              media="(min-width: 1200px)"
            />
            <img
              src="/images/gallery/gallery-3.webp"
              alt="slide 3"
              class="swiper-slide-img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="/images/gallery/gallery-4-1200.webp"
              media="(min-width: 1200px)"
            />
            <img
              src="/images/gallery/gallery-4.webp"
              alt="slide 4"
              class="swiper-slide-img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="/images/gallery/gallery-5-1200.webp"
              media="(min-width: 1200px)"
            />
            <img
              src="/images/gallery/gallery-5.webp"
              alt="slide 5"
              class="swiper-slide-img"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next">
        <!-- <picture>
          <source
            srcset="/images/gallery/gallery-arrow-rigth-1200.webp"
            media="(min-width: 1200px)"
          />
          <img
            src="/images/gallery/gallery-arrow-ridth.webp"
            alt="slide 5"
            class="swiper-slide-img"
          />
        </picture> -->
      </div>
      <div class="swiper-button-prev">
        <!-- <picture>
          <source
            srcset="/images/gallery/gallery-arrow-left-1200.webp"
            media="(min-width: 1200px)"
          />
          <img
            src="/images/gallery/gallery-arrow-left.webp"
            alt="slide 5"
            class="swiper-slide-img"
          />
        </picture> -->
      </div>
    </div>
  </div>
</section>
