<section id="magical-atmosphere" class="magical-atmosphere-section">
  <div class="container">
    <h2 class="atmosphere-title">Magical Atmosphere</h2>
    <p class="atmosphere-subtitle">
      The game offers a truly enchanting experience
    </p>
    <div class="wonder-wrap">
      <picture>
        <source
          srcset="./images/magical-atmosphere/mockup-1-1200.webp"
          media="(min-width: 1200px)"
        />
        <img
          src="./images/magical-atmosphere/mockup-1mob.webp"
          alt="scrinshot game"
          class="mockup-1mob"
        />
      </picture>
      <p class="wonder-wrap-text">
        Visual Wonders: Immerse yourself in lush, glowing landscapes, sparkling
        magical items, and radiant effects.
      </p>
      <img
        class="imege-cloud-left"
        src="./images/magical-atmosphere/cloud-left.webp"
        alt="imege-cloud"
      />
    </div>
    <div class="soundtrack-wrap">
      <picture>
        <source
          srcset="./images/magical-atmosphere/mockup-2-1200.webp"
          media="(min-width: 1200px)"
        />
        <img
          src="./images/magical-atmosphere/mockup-2mob.webp"
          alt="scrinshot game"
          class="mockup-2mob"
        />
      </picture>
      <p class="soundtrack-wrap-text">
        Melodic Soundtrack: The soothing and mystical background music enhances
        the magical vibe, making every moment memorable.
      </p>
      <img
        class="imege-cloud-rait"
        src="./images/magical-atmosphere/cloud-rait.webp"
        alt="imege-cloud"
      />
    </div>
    <div class="creatures-wrap">
      <picture>
        <source
          srcset="./images/magical-atmosphere/mockup-3-1200.webp"
          media="(min-width: 1200px)"
        />
        <img
          src="./images/magical-atmosphere/mockup-3mob.webp"
          alt="scrinshot game"
          class="mockup-3mob"
        />
      </picture>
      <p class="creatures-wrap-text">
        Melodic Soundtrack: The soothing and mystical background music enhances
        the magical vibe, making every moment memorable.
      </p>
      <img
        class="imege-cloud-left-2"
        src="./images/magical-atmosphere/cloud-left.webp"
        alt="imege-cloud"
      />
    </div>
  </div>
</section>
