<section id="reviews" class="reviews-section">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>

    <div class="container-swiper-reviews">
      <div class="swiper-container swiper-container-reviews">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="/images/reviewes/review-1-mob.webp"
              alt="slide 1"
              class="swiper-slide-img"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/images/reviewes/review-2-mob.webp"
              alt="slide 2"
              class="swiper-slide-img"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/images/reviewes/review-3-mob.webp"
              alt="slide 3"
              class="swiper-slide-img"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/images/reviewes/review-4-mob.webp"
              alt="slide 4"
              class="swiper-slide-img"
            />
          </div>
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-next">
          <img
            src="/images/gallery/gallery-arrow-ridth.webp"
            alt="slide 5"
            class="swiper-slide-img"
          />
        </div>
        <div class="swiper-button-prev">
          <img
            src="/images/gallery/gallery-arrow-left.webp"
            alt="slide 5"
            class="swiper-slide-img"
          />
        </div>
      </div>
    </div>

    <div class="container-grid-reviews">
      <div class="review-card card1">
        <img
          src="/images/reviewes/review-1-1200.webp"
          alt="sign with inscription"
          class="card1-img1"
        />
        <img
          src="/images/reviewes/heart-1.webp"
          alt="heart"
          class="card1-img2"
        />
      </div>

      <div class="review-card card2">
        <img
          src="/images/reviewes/review-3-1200.webp"
          alt="sign with inscription"
          class="card2-img1"
        />
        <img
          src="/images/reviewes/heart-2.webp"
          alt="heart"
          class="card2-img2"
        />
      </div>

      <div class="review-card card3">
        <img
          src="/images/reviewes/review-4-1200.webp"
          alt="sign with inscription"
          class="card3-img1"
        />
        <img
          src="/images/reviewes/heart-3.webp"
          alt="heart"
          class="card3-img2"
        />
      </div>

      <div class="review-card card4">
        <img
          src="/images/reviewes/review-2-1200.webp"
          alt="sign with inscription"
          class="card4-img1"
        />
        <img
          src="/images/reviewes/heart-4.webp"
          alt="heart"
          class="card4-img2"
        />
      </div>
    </div>
  </div>
</section>
