.about-section {
  position: relative;
  background: linear-gradient(180deg, #024d55 0%, #0f6691 100%);

  @media screen and (min-width: 1200px) {
    background: linear-gradient(180deg, #024d55 45.67%, #0f6691 100%);
  }
}
.about-title {
  font-family: "Piedra", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #f3be00;
  text-align: center;
  margin-bottom: 16px;

  @media screen and (min-width: 1200px) {
    font-size: 48px;
    margin-bottom: 92px;
  }
}
.about-text {
  font-family: "Mali", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #fcfcf0;
  margin-bottom: 44px;

  span {
    width: 142px;
    display: block;

    @media screen and (min-width: 1200px) {
      width: 100%;
      display: inline;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    width: 466px;
    margin: 0 auto;
    margin-bottom: 372px;
  }
}
.about-heart {
  width: 150px;
  height: 94px;
  position: absolute;
  right: 10px;
  bottom: 24px;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.about-coin {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 100px;
    top: 124px;
  }
}
.about-flower-pot {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 110px;
    bottom: 240px;
  }
}
.about-tree {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 366px;
    bottom: 80px;
  }
}
.about-plant {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 366px;
    bottom: 80px;
  }
}
.about-flower {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 140px;
    bottom: 250px;
  }
}
.about-note {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 100px;
    top: 124px;
  }
}
