.footer-section {
  width: 100%;
  height: 122px;
  background-image: url(/images/footer/footer-mob.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    height: 248px;
    background-image: url(/images/footer/footer-1200.webp);
  }
}
.footer-container {
  position: relative;
  width: 320px;

  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    width: 434px;
  }
}
.footer-inner {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;

  @media screen and (min-width: 1200px) {
    gap: 110px;
    margin-bottom: 32px;
  }
}
.policy,
.service {
  text-decoration: underline;
  font-family: "Mali", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  transition: all 300ms ease;

  &:hover,
  &:active {
    color: #f3be00;
    transform: scale(0.95);
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}
.reserved {
  font-family: "Mali", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #000;
  width: 198px;

  @media screen and (min-width: 1200px) {
    width: 100%;
    font-size: 18px;
  }
}
