body{
  font-family: "Mali", sans-serif;
  background-color: #26a7ac;
  font-weight: 400;
}

.container {
  width: 320px;
  padding: 16px 24px;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 80px 72px ;
  }
}

