@use "./common/index" as *;

.about-section {
  background: linear-gradient(180deg, #024d55 0%, #0f6691 100%);
  @include media(desktop) {
    background: linear-gradient(180deg, #024d55 45.67%, #0f6691 100%);
  }
}
.about-container {
  position: relative;
  @include media(desktop) {
    padding-bottom: 372px;
  }
}
.about-title {
  text-align: center;
  margin-bottom: 16px;
  @include media(desktop) {
    margin-bottom: 92px;
  }
}
.about-text {
  margin-bottom: 44px;
  width: 257px;
  span {
    width: 142px;
    display: block;
    @include media(desktop) {
      width: 100%;
      display: inline;
    }
  }

  @include media(desktop) {
    width: 466px;
    margin: 0 auto;
  }
}
.about-heart {
  width: 150px;
  height: 94px;
  position: absolute;
  right: 16px;
  bottom: 24px;
  @include media(desktop) {
    display: none;
  }
}
.about-coin {
  display: none;
  @include media(desktop) {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 100px;
    top: 124px;
  }
}
.about-flower-pot {
  display: none;
  @include media(desktop) {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 110px;
    bottom: 240px;
  }
}
.about-tree {
  display: none;
  @include media(desktop) {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 366px;
    bottom: 80px;
  }
}
.about-plant {
  display: none;
  @include media(desktop) {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 366px;
    bottom: 80px;
  }
}
.about-flower {
  display: none;
  @include media(desktop) {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 140px;
    bottom: 250px;
  }
}
.about-note {
  display: none;
  @include media(desktop) {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 100px;
    top: 124px;
  }
}
