@use "./common/index" as *;

.features-section {
  background: linear-gradient(180deg, #024d55 0%, #0f6590 100%);
  @include media(desktop) {
    background: linear-gradient(180deg, #024d55 24.84%, #0f6691 100%);
  }
}
.features-title {
  margin-bottom: 16px;

  @include media(desktop) {
    margin-bottom: 32px;
  }
}
.features-card-wrap-one {
  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 94px;
    margin-bottom: 32px;
  }
}
.features-card-wrap-two {
  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }
}
.features-card {
  width: 246px;
  height: 256px;
  margin: 0 auto 16px;
  @include media(desktop) {
    width: 314px;
    height: 377px;
    margin: 0 0 16px;
  }
}
.features-card-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 16px;
  @include media(desktop) {
    width: 226px;
    height: 226px;
    margin: 20px auto 26px;
  }
}
.features-card-text {
  text-align: center;
}
