@use "./common/index" as *;

.gallery-section {
  background: linear-gradient(180deg, #024d55 0%, #0f6691 100%);
  @include media(desktop) {
    background: linear-gradient(180deg, #024d55 24.84%, #0f6691 100%);
  }
}
.gallery-title {
  margin-bottom: 16px;
  @include media(desktop) {
    font-size: 48px;
    margin-bottom: 32px;
  }
}
.container-swiper-gallery {
  position: relative;
  width: 100%;
  height: 187px;
  @include media(desktop) {
    height: 458px;
  }
}
.swiper-container {
  height: 139px;
  width: 264px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  @include media(desktop) {
    width: 760px;
    height: 402px;
  }
}
.swiper-slide-img {
  object-fit: cover;
}
.swiper-pagination {
  position: absolute;
  left: 108px;
  bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 72px;
  z-index: 1;
  @include media(desktop) {
    width: 120px;
    bottom: 0;
    left: 468px;
  }
}
.swiper-pagination-bullet {
  background-color: $color-heading;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: transform 300ms ease;
  cursor: pointer;
  @include media(desktop) {
    width: 16px;
    height: 16px;
  }
}
.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background-color: $color-pagination;
  @include media(desktop) {
    width: 24px;
    height: 24px;
  }
}
.swiper-button-next {
  right: 15px;
  @include media(desktop) {
    right: 0;
  }
}
.swiper-button-prev {
  left: 15px;
  @include media(desktop) {
    left: 0;
  }
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  bottom: 0;
  width: 74px;
  height: 40px;
  z-index: 1;
  cursor: pointer;
  transition: all 300ms ease;

  &:hover {
    transform: scale(0.9);
  }

  @include media(desktop) {
    width: 125px;
    height: 68px;
    top: 167px;
  }
}
.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
