@use "./common/index" as *;

.magical-atmosphere-section {
  background: linear-gradient(180deg, #0f6691 0%, #024d56 100%);
}
.atmosphere-title {
  margin-bottom: 16px;
  @include media(desktop) {
    margin-bottom: 32px;
  }
}
.atmosphere-subtitle {
  margin-bottom: 16px;
  @include media(desktop) {
    margin-bottom: 32px;
  }
}
.wonder-wrap,
.soundtrack-wrap,
.creatures-wrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
  @include media(desktop) {
    flex-direction: row;
    align-items: center;
  }
}
.wonder-wrap {
  margin-bottom: 16px;
  @include media(desktop) {
    flex-direction: row-reverse;
  }
}
.soundtrack-wrap {
  margin-bottom: 16px;
}
.creatures-wrap {
  @include media(desktop) {
    flex-direction: row-reverse;
  }
}
.mockup-1mob,
.mockup-2mob,
.mockup-3mob {
  width: 289px;
  height: 137px;
  @include media(desktop) {
    flex-direction: row;
    width: 496px;
    height: 237px;
  }
}
.wonder-wrap-text,
.soundtrack-wrap-text,
.creatures-wrap-text {
  padding: 0 6px;
  @include media(desktop) {
    padding: 0;
    width: 333px;
    height: 75px;
  }
}
.imege-cloud-left,
.imege-cloud-rait,
.imege-cloud-left-2 {
  display: none;
  @include media(desktop) {
    display: block;
    width: 270px;
    height: 198px;
  }
}
